__pycache__/

*.py[cod]
*$py.class
.venv/
venv/
env/
myenv/
.myenv/

.env
.flaskenv

.DS_Store
.vscode/
.idea/
database.db



uploads/*
!uploads/IMAGE_LICENCE.txt
!uploads/sean-oulashin-KMn4VEeEPR8-unsplash.jpg
!uploads/omar.jpeg
