:root {
  --border-color: #4267b2;
}
.bio {
  border: 0.2rem solid var(--border-color);
  padding: 12px 10px;
  margin: 10px 0;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #000;
}

.second-section article {
  text-align: center;
}

.second-section article h3 {
  font-family: var(--font-header);
}

#profile-photo {
  width: 8rem;
  height: 8rem; 
  border-radius: 50%; 
  object-fit: cover; 
  object-position: center;
}

#cover-photo {
  object-fit: cover;
  object-position: center;
  height: 28vh;
  border-radius: 6px;
}

#section-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#left-and-right-div {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

#city-street-div {
  display: flex; 
  gap: 5px; 
  align-items: center
}

#right-div {
  display: flex; 
  gap: 30px;
}

#phone-city {
  display: none;
}

@media only screen and (max-width: 675px) {
  body > footer {
    display: none;
  }
  section #div {
    grid-template-columns: 1fr!important;
  }
  #profile-photo {
    width: 6rem;
    height: 6rem;
    justify-self: center;
  }
  #left-and-right-div {
    flex-direction: column;
    align-items: stretch;
  }
  #left-and-right-div > div {
    display: flex; 
    justify-content: space-between;
  }
  #right-div {
    justify-content: space-between;
    width: 100%!important;
    padding: 0 5px;
    
  }
  #social-links {
    margin-top: 10px;
  }
  #phone-city { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-gap: 10px; 
    text-align: center;
  }
  #city-street-div { display: none; }
  #cover-photo { height: 160px; 
    border-radius: 18px;
    margin-bottom: 35px; }
  #profile-photo {
    position: absolute;
    top: 95px;
  }
}
