@font-face {
  font-family: "Zain";
  src: url("/static/fonts/Zain/Zain-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Zain";
  src: url("/static/fonts/Zain/Zain-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Zain";
  src: url("/static/fonts/Zain/Zain-Bold.ttf");
  font-weight: 600
}
@font-face {
  font-family: "Tajawal";
  src: url("/static/fonts/Tajawal/Tajawal-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Tajawal";
  src: url("/static/fonts/Tajawal/Tajawal-Bold.ttf");
  font-weight: 600;
}

:root {
  --font-header: Tajawal;
  --font-body: Zain;
}

* { box-sizing: border-box; }

body { font-family: Zain; overflow-x: hidden; }

.font-header { font-family: var(--font-header); }
.font-body { font-family: var(--font-body); }

*[data-tooltip] {
  border-bottom: 0!important;
  outline: 0!important;
}
