{% extends 'admin/table_layout.html' %}

{% block header %}المحصلون{% endblock %}

{% block dialog %}
  <dialog>
    <article>
      <header>
        <button aria-label="Close" rel="prev" onclick="setAttr('dialog', 'open', 'false')"></button>
        <p>
          <strong>
            إضافة
            {% block who_to_add_dialog %}{% endblock %}
            جديد
          </strong>
        </p>
      </header>
      
      <form hx-post="/api/collector/register">
        <fieldset>
          <label>
            الاسم
            <input
              type="text"
              name="name"
            />
          </label>
          <label>
المحافظة
            <input
              type="text"
              name="city"
            />
          </label>
          <label> 
            الشارع/الإدارة
            <input
              type="text"
              name="street"
            />
          </label>
          <label>
كود المحصل
            <input
              type="text"
              name="code"
              dir="ltr"
            />
          </label>
          <label>
كلمة المرور
            <input
              type="password"
              name="password"
              dir="ltr"
            />
          </label>
        </fieldset>

        <input
          type="submit"
          value="إضافة"
        />
      </form>
      
    </article>
  </dialog>
{% endblock %}

{% block dialog_open_btn %} 
<button onclick="setAttr('dialog', 'open', 'true')">
    إضافة محصل
</button>
{% endblock %}

{% block div %}
<div hx-get="/api/collectors" hx-target="tbody" hx-trigger="load" hx-swap="outerHTML"></div>
{% endblock %}

{% block thead %}

<th scope="col">الاسم ثنائي</th>
<th scope="col">المحافظة</th>
<th scope="col">الإدارة/الشارع</th>
<th scope="col">كود المحصل</th>
<th scope="col">جميع الفواتير المسجلة</th>
<th scope="col">إجراءات</th>

{% endblock %}
