{% extends 'base.html' %}

{% block style %}

<style>
  table tr th {
    font-family: var(--font-header);
  }
  
  h1 {
    padding-top: 32px;
  }
  
  .overflow-auto table {
    width: 100%;
    min-width: 800px; /* Adjust this value until the scrollbar appears */
  }
  
  {% block table_css %}{% endblock %}
  
</style>

{% endblock %}

{% block content %}

{% block div %}{% endblock %}

{% block dialog %}{% endblock %}

<section style="text-align: center; position: relative;">
  <a href="/admin" style="position: absolute; left: 10px; top: 10px; text-decoration: none;">
    صفحة المسئول
    <img src="{{ url_for('static', filename='icons/arrow-left.svg') }}">
  </a>
  <h1 class="font-header">{% block header %}{% endblock %}</h1>
  <p class="font-header" style="text-align: center;">{% block p_after_h1 %}{% endblock %}</p>
  {% block dialog_open_btn %}{% endblock %}
  <hr />
</section>

{% endblock %}
{% block outside_main %}

<div class="overflow-auto" style="display: block; width: 100%;">
  <table style="min-width: 800px;" class="striped">
    <thead>
      <tr>
        {% block thead %}{% endblock %}
      </tr>
    </thead>
    <tbody>
      {% block tbody %}{% endblock %}
    </tbody>
  </table>
</div>

<div class="container pico-background-green-400" id="output"></div>

{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}
