{% extends 'admin/table_layout.html' %}


{% block header %}المستخدمون{% endblock %}

{% block thead %}

<th scope="col">الاسم ثنائي</th>
<th scope="col">النوع</th>
<th scope="col">المحافظة</th>
<th scope="col">الشارع</th>
<th scope="col">البريد الإلكتروني</th>
<th scope="col">كود الملف الشخصي</th>
<th scope="col">أيام نشاط متواصلة</th>
<th scope="col">النقاط</th>
<th scope="col">تاريخ الإنضمام</th>
<th scope="col">إجراءات</th>

{% endblock %}

{% block div %}
<div hx-get="/api/users" hx-target="tbody" hx-trigger="load" hx-swap="outerHTML"></div>
{% endblock %}
