nav {
  background-color: #f5f5f5;
  border-bottom: 0.15rem dotted #44362F;
}

nav ul.right {
  display: flex;
  gap: 12px;
}

nav ul li {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

.num, .xp-text {
  font-family: monospace;
}

.num {
  font-size: 1.2rem;
}

.rounded {
  border-radius: 50%; 
  border: 0.15rem solid currentColor;
  text-decoration: none;
}

.rounded:hover {
  background: linear-gradient(135deg, #44FFD4, #FF8844)
}

.xp-text {
  color: #592720;
  font-size: 23px;
}
