nav {
  border-bottom: 0.15rem dotted #44362F;
  background-color: #0f0f0f;
}

html[data-theme="light"] nav {
  background-color: #f5f5f5;
}

nav ul.right {
  display: flex;
  gap: 12px;
}

nav ul li {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

.num, .xp-text {
  font-family: monospace;
}

.num {
  font-size: 1.2rem;
}

.rounded {
  border-radius: 50%; 
  border: 0.15rem solid currentColor;
  text-decoration: none;
}

.rounded:hover {
  background: linear-gradient(135deg, #004737, #702900);
}

.xp-text {
  color: #E8C4BF;
  font-size: 23px;
}

html[data-theme="light"] .xp-text {
  color: #592720;
}

html[data-theme="light"] .rounded:hover {
  background: linear-gradient(135deg, #44FFD4, #FF8844);
}

hgroup p {
  color: inherit;
}
