{% extends 'base.html' %}

{% block content %}

<section class="container">
  <h1 class="font-header" style="text-align: center;">صفحة غير موجودة</h1>
  <p>لم يتم إضافة هذه الصفحة و هذا بسبب احد الأسباب الأتية:</p>
  <ul>
    <li>ان فكرة او محتوي الصفحة خارج عن الفكرة الرئيسية من المسابقة</li>
    <li>ادخلت عنوان الصفحة يدودياً</li>
  </ul>
  
  <p>يمكنك الإطلاع على كل الصفحات التي تم تطويرها <a href="/website/pages">من هنا</a></p>
  <a href="/">العودة للصفحة الرئيسية</a>
</section>

{% endblock %}
