{% extends 'base.html' %}

{% block style %}

<style>
  h1, h2, h3 { font-family: var(--font-header) }
  h1, h2 { text-align: center; }
</style>

{% endblock %}

{% block content %}

<section style="text-align: center;">
  <h1>دليل الصفحة</h1>
  <a href="/" >الصفحة الرئيسية</a>
</section>

<hr />
<section class="container">
  <h2>عن المنصة</h2>
  
  <article><ul>
    <li>
    منصة نقطة هي منصة Full Stack اي انها منصة متكاملة تحتوي على قاعدة بيانات و خادم تم تطويرها ضمن مسابقة الإبداع طموح لعام 2026 بواسطة الطالب <strong>عمر حسام الدين احمد بكر</strong> مدرسة <strong>العباسية الثانوية العسكرية بنين محافظة الإسكندرية إدارة وسط التعليمية</strong>
  </li>
  <li>
    فكرة المنصة بكل بساطة انها تساعد على الترشيد من استهلاك مياة جمهورية مصر العربية و تشجيع المواطنين علي عدم إهدارها في ما لا يفيد بطريقة تفاعلية بدلاً من قراءة مقالات طويلة يراها الكثيرون مملة و غير فعالة
  </li>
  <li>  
     هذه المنصة تجمع الناس ببعضهم البعض حيث يتنافسون علي الفوز بجوائز الموسم التي تحسب عن طريق أقل فاتورة خلال الموسم اي خلال ثلاثة اشهر متواصلة الشخص الذي مجموع فواتير المياة الخاصة به خلال الموسم هي الأقل سيربح جوائز لها قيمة حقيقة و مهمة مثل المال او كوبونات خصومات او اي شئ اخر يحفز المواطنين علي التنافس و التصدر
  </li>
  <li>
    المنصة مجانية و سهلة الإستخدام بالنسبة للجميع كما انها تخلق بيئة آمنة للتنافس بين الأصدقاء 
  </li>
  
  </ul>
  </article>
</section>
<hr />
<section class="container">
  <h2>كيفية العمل</h2>
  
  <h3>المستخدم</h3>
  <article>
    <ul>
      <li>
        كل مستخدم له مهام يومية يضعها لنفسه حتي يقلل من استخدام المياة و يجد الفاتورة اقل في نهاية الشهر
      </li>
      <li>
        يستطيع المستخدم كتابة نبذه مختصرة عن نفسه حتي يعلمه الأخرين كما يستطيع اضافة رقم واتساب او حساب فيسبوك بغرض جعل المنصة اجتماعية و مشاركة
      </li>
      <li>
        يستطيع المستخدم البحث عن و اضافة اصدقاء كما يشاء عن طريق إرسال طلبات صداقة
      </li>
      <li>
        يستطيع المستخدم حذف حسابه او تسجيل الخروج في اي وقت
      </li>
      <li>
        عند التصدر يربح المستخدم جوائز
      </li>
      <li>
        يستطيع المستخدم الإطلاع على فواتير المياة السابقة بكل سهولة
      </li>
      <li>
        يستطيع المستخدم بنقرة واحدة الإطلاع علي احدث اخبار وزارة الري
      </li>
    </ul>
  </article>
  
  <h3>قائمة الصدارة</h3>
  <article>
    يتم حساب قائمة التصدر عن طريق:
    <ol>
      <li>
        حساب مجموع فواتير كل مستخدم للثلاثة اشهر الماضية
      </li>
      <li>
        الأقل في الفواتير يتصدر لأعلي
      </li>
      <li>
        الجوائز لأول ثلاثة اشخاص
      </li>
    </ol>
    
    <p>لا يتم حساب التصدر عن طريق نقاط XP التي يحصل عليها المستخدم يومياً حتي لا يحدث غش او تلاعب من احد المستخدمين بل عن طريق الفاتورة التي يدخلها المحصل الموثوق.</p>
  </article>
  
  <h3>محصل المياة</h3>
  <article>
    <ul>
      <li>
        يتم إنشاء حساب المحصل عن طريق المسئول
      </li>
      <li>
        يحصل على رمز عمل خاص به يقوم بإدخاله علي المنصة و معه كلمة المرور
      </li>
      <li>
        عن طريق هذا الرمز يمكنه إضافة سعر فاتورة اي مستخدم إلي حساب المستخدم
      </li>
    </ul>
  </article>
  
  <h3>المسئول</h3>
  <article>
    <ul>
      <li>
        يستطيع المسئول إضافة او إزالة او تعديل مستخدم
      </li>
      <li>
      يستطيع المسئول إضافة او إزالة محصل مياة
      </li>
      <li>
        رؤية المستخدمين و المحصلين بطريقة سهلة جدا و معرفة كل تعديل يحدث
      </li>
    </ul>
  </article>
</section>

{% endblock %}
