<!DOCTYPE html>
<html lang="ar_EG" dir="rtl">
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{% block title %}منصة نقطة{% endblock %}</title>
    
    <!-- Pico CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.colors.min.css') }}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <!-- HTMX -->
    <script src="{{ url_for('static', filename='htmx.min.js') }}" defer></script>
    
    {% block style %}{% endblock %}
  </head>
  <body>
    <nav class="pico-background-slate-50">
      <ul>
        <li class="font-header" style="font-weight: 600">منصة نقطة <img src="{{ url_for('static', filename='icons/drop.svg') }}"></li>
      </ul>
      <ul>
        <li><a href="/#hero">رئيسية</a></li>
        <li><a href="/#about">عن نقطة</a></li>
        <li><a href="/leaderboard">قائمة الصدارة</a></li>
        <li><a href="/login" class="pico-background-green-500" style="flex">تسجيل الدخول 
            
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 23px;" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><circle cx="128" cy="96" r="64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M32,216c19.37-33.47,54.55-56,96-56s76.63,22.53,96,56" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" /></svg>
        
        </a></li>
        
      </ul>
    </nav>
    
    <main>
      {% block content %}{% endblock %}
    </main>
    
    {% block scripts %}{% endblock %}
  </body>
</html>
