<!DOCTYPE html>
<html lang="ar_EG" dir="rtl" data-theme="light">
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{% block title %}منصة نقطة{% endblock %}</title>
    
    <!-- Pico CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.colors.min.css') }}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- HTMX -->
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}" defer></script>
    
    {% block style %}{% endblock %}
  </head>
  <body>
    {% from 'components/HomeNav.html' import home_nav %}
    {% from 'components/UserNav.html' import user_nav %}

    {% if show_home_nav %}
      {{ home_nav(is_logged) }}
    {% endif %}
    
    {% if show_user_nav %}
      {{ user_nav(user_streak, user_xp) }}
    {% endif %}
    
    <main>
      {% block content %}{% endblock %}
    </main>
    
    {% block script %}{% endblock %}
  </body>
</html>
