{% extends 'base.html' %}

{% block title %}منصة نقطة - إنشاء حساب جديد{% endblock %}

{% block content %}

<form hx-post="/api/users/{{ user_id }}/building-type" hx-indicator="#submit-progress" hx-disabled-elt="#submit-btn">
  <fieldset>
    <legend class="font-header">اختر نوع المبني:</legend>
    <label for="houses">
      <input type="radio" name="building-type" value="houses" required aria-required="true" id="houses" />
      المنازل و الشقق (سكني)
    </label>
    <label for="religion">
      <input type="radio" name="building-type" value="religion" required aria-required="true" id="religion" />
      دور العبادة
    </label>
    <label for="commercial">
      <input type="radio" name="building-type" value="commercial" required aria-required="true" id="commercial" />
      النشاط التجاري
    </label>
    <label for="industry">
      <input type="radio" name="building-type" value="industry" required aria-required="true" id="industry" />
      النشاط الصناعي
    </label>
    <label for="hotels">
      <input type="radio" name="building-type" value="hotels" required aria-required="true" id="hotels" />
      الفنادق و القرى السياحية
    </label>
    <label for="clubs">
      <input type="radio" name="building-type" value="clubs" required aria-required="true" id="clubs" />
      الأندية الرياضية
    </label>
    <label for="gas-stations">
      <input type="radio" name="building-type" value="gas-stations" required aria-required="true" id="gas-stations" />
      محطات الوقود
    </label>
    <label for="charities">
      <input type="radio" name="building-type" value="charities" required aria-required="true" id="charities" />
    الجمعيات الخيرية و التعاونية  
    </label>
  </fieldset>
  
  <input type="submit" value="اختيار المبني" id="submit-btn">
  <progress id="submit-progress" class="htmx-indicator"></progress>
</form>

{% endblock %}
