{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/users_nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/users_home.css') }}">

<style>
  @media only screen and (max-width: 675px) {
    body > footer {
      display: none;
    }
  }
</style>

{% endblock %}

{% block content %}

<section>
  <hgroup style="text-align: center;">
    <h1 class="font-header">المهام اليومية</h1>
    <p class="font-header">اختار اللي عملته النهاردة… كل مهمة = نقاط إضافية</p>
  </hgroup>
  <ul id="daily-todos">
    <button onclick="setAttr('#todos-dialog', 'open', 'true')">اختر مهام اليوم 🗒️</button>
        
    <dialog id="todos-dialog">
      <article>
        <header>
          <button aria-label="Close" rel="prev" onclick="setAttr('#todos-dialog', 'open', 'false')"></button>
          <p>
            <strong>اختر مهام اليوم 🗓️ </strong>
          </p>
        </header>
        <form>
          {% for todo in todos %}
            <label for="todo-checkbox-{{ todo.id }}">
              <input type="checkbox" id="todo-checkbox-{{ todo.id }}" name="todo-checkbox-{{ todo.id }}">
              {{ todo.name }}
              
              <span class="todo-checkbox-score" dir="ltr">+{{ todo.score }}XP</span>
            </label>
          {% endfor %}
          <hr />
          <button>اختيار</button>
        </form>
      </article>
    </dialog>
  </ul>
</section>

<section class="container">
  <article style="text-align: center;">
    <header class="font-header" style="font-size: 1.5rem;">الروابط</header>
    
    <div style="display: flex; flex-direction: column; gap: 10px;">
      <a href="/bills">فواتير المياة الماضية</a>
      <a href="https://www.mwri.gov.eg/?page_id=597" target="_blank">احدث اخبار وزارة الري</a>
      <a href="/prizes">جوائز الموسم</a>
      <a href="/about">عن المنصة و كيفية العمل</a>
    </div>
  </article>
</section>

{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}
