{% extends 'base.html' %}

{% block style %}
<script src="{{ url_for('static', filename='js/chart.umd.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/users_nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<style>
  {% if user['profile_photo'] %}
  section #div {
    display: grid; grid-template-columns: 18% 1fr; grid-gap:13px;
  }
  {% else %}
  section #div {
    display: grid; grid-template-columns: auto 1fr; grid-gap:12px;
  }
  {% endif %}
  
  @media only screen and (min-width: 1300px) {
    section #div {
     grid-template-columns: 15% 1fr; 
    }
    #cover-photo { height: 32vh; }
  }
  
  /* Desktop default */
.chart-container {
    height: 400px;
    width: 100%;
}

/* Mobile adjustments */
@media (max-width: 600px) {
    .chart-container {
        height: 250px; /* Shorter for mobile screens */
        width: 100%;
    }
}
  
</style>

{% endblock %}

{% block content %}

<dialog id="friends">
  <article>
    <header>
      <button aria-label="Close" rel="prev" onclick="setAttr('#friends', 'open', 'false')"></button>
      <p>
        <strong>
          قائمة أصدقاء
          {{ user['name'].split(' ')[0] }}
        </strong>
      </p>
    </header>
    <ul id="friends-list">
      
    </ul>
  </article>
</dialog>

<section class="container" id="section-1" style="position: relative;">
  {% if user['cover_photo'] %}
  <img src="/{{ user['cover_photo'] }}" class="container" alt="user cover photo" id="cover-photo">
  {% endif %}
  
  <div id="div">
    {% if user['profile_photo'] %}
    
    <img src="/{{ user['profile_photo'] }}" alt="user profile photo" id="profile-photo">
    
    {% else %}
    <img src="{{ url_for('static', filename='icons/user-circle.svg') }}" alt="user icon" style="width: 8rem; " id="profile-photo">
    {% endif %}
    
    <div id="left-and-right-div">
      
      <!-- RIGHT -->
      <div style="height: 80%;">
        <div id="right-div">
          <h1 class="font-header">{{ user['name'] }}</h1>
          <p style="color: {{ 'dodgerblue' if user['gender'] == 'male' else 'hotpink' }}; font-weight: bold; align-content: center;">
            {{ user['gender'] }}
            {% if user['gender'] == 'male' %}
            <img src="{{ url_for('static', filename='icons/gender-male.svg') }}">
            {% else %}
            <img src="{{ url_for('static', filename='icons/gender-female.svg') }}">
            {% endif %}
          </p>
        </div>
        
        <div id="city-street-div" class="hide-on-phone">
          <div style="border: 0.2rem dotted var(--border-color); padding: 2px; border-radius: 5px">{{ user['city_arabic'] }} <img src="{{ url_for('static', filename='icons/city.svg') }}"></div>
          <div style="border: 0.2rem dotted var(--border-color); padding: 2px; border-radius: 5px;">{{ user['street'] }} <img src="{{ url_for('static', filename='icons/buildings.svg') }}"></div>
        </div>
      </div>
      
      <!-- LEFT -->
      <div style="display: flex; flex-direction: column; justify-content: space-between; height: 80%;">
        
        <div id="phone-city">
          <div style="border: 0.2rem dotted var(--border-color); padding: 2px; border-radius: 5px">{{ user['city_arabic'] }} <img src="{{ url_for('static', filename='icons/city.svg') }}"></div>
          <div style="border: 0.2rem dotted var(--border-color); padding: 2px; border-radius: 5px;">{{ user['street'] }} <img src="{{ url_for('static', filename='icons/buildings.svg') }}"></div>
        </div>
        
        <!-- SOCIAL LINKS -->
        <div id="social-links" style="display: flex; justify-content: flex-end; gap: 5px;">
          {% if user['whatsapp_number'] %}
          <a href="https://wa.me/2{{ user['whatsapp_number'] }}" target="_blank"><img src="{{ url_for('static', filename='icons/whatsapp-logo.svg') }}" style="width: 3rem;"></a>
          {% endif %}
          {% if user['facebook_link'] %}
          <a href="{{ user['facebook_link'] }}" target="_blank" style="padding: 0 6px;"><img src="{{ url_for('static', filename='icons/facebook-logo.svg') }}"  style="width: 3rem;"></a>
          {% endif %}
          <button id="share-btn" class="outline" style="padding: 0; border: 0">
            <img src="{{ url_for('static', filename='icons/share-fat.svg') }}" alt="share icon" style="width: 3rem;">
          </button>
        </div>
  
      </div>
      
      
    </div>
    
    
  </div>
  
  {% if user['bio'] %}
  <p class="bio font-header" style="margin-top: 40px;">{{ user['bio'] }}</p>
  {% endif %}
  
</section>
<h2 style="text-align: center; padding: 10px 0" class="font-header">الإحصائيات</h2>
<section class="container grid second-section">
  <article>
    <header>اخر فاتورة</header>
    <img src="{{ url_for('static', filename='icons/money.svg') }}">
    
    <footer><strong><u hx-get="/api/user/{{ user['id'] }}/last-bill" hx-target="this" hx-swap="textContent" hx-trigger="load"></u></strong> ج.م</footer>
  </article>
  <article>
    <header>النقاط</header>
    <p class="xp-text">XP</p>
    
    <footer><strong><u>{{ user['xp'] }}</u></strong> نقطة</footer>
  </article>
  <article>
    <header>الترتيب</header>
    <img src="{{ url_for('static', filename='icons/ranking.svg') }}">
    
    <footer><strong><u hx-get="/api/user/{{ user['id' ]}}/rank" hx-target="this" hx-swap="textContent" hx-trigger="load"></u></strong> علي مصر!</footer>
  </article>
  <article>
    <header>ايام نشاط</header>
    <img src="{{ url_for('static', filename='icons/fire(1).svg') }}">
    
    <footer><strong><u>{{ user['streak'] }}</u></strong> ايام متواصلة</footer>
  </article>
</section>

{% endblock %}

{% block outside_main %}

<div class="chart-container" style="position: relative; height:40vh; width:80vw; margin: auto;">
  <canvas id="myChart"></canvas>
</div>

{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  <script>
    const shareBtn = document.getElementById('share-btn');
    shareBtn.addEventListener('click', () => {
      navigator.clipboard.writeText({{ user['profile_id'] }})
        .then(() => window.alert('تم نسخ كود الملف الشخصي بنجاح أرسله لزميلك و اخبره ان يكتبه في حقل البحث حتي يعثر عليك!'))
        .catch(err => window.alert('حدث خطأ في نسخ كود الملف الشخصي'))
    })
  </script>
  <script>
  const fontBody = getComputedStyle(document.body).getPropertyValue('--font-body');
  const fontHeader = getComputedStyle(document.body).getPropertyValue('--font-header');
  const monthsToShow = {{ months_to_show  | tojson }};
  const maxNum = 300
    
  new Chart(document.getElementById('myChart'), {
      type: 'bar',
      data: {
        labels: monthsToShow,
        datasets: [{
          label: 'فاتورة المياة',
          data: [48, 200, 56, 78, 65, 150],
          backgroundColor: 'lightskyblue' 
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          x: {
            reverse: true,
            ticks: {
              font: { 
                size: 16, 
                family: fontBody
              }
            }
          },
          y: {
            min: 30,
            max: maxNum,
            ticks: { stepSize: 30 },
            position: 'right',
            ticks: {
              font: { 
                size: 16,
                family: fontBody
              }
            }
          }
        },
        plugins: {
          legend: {
            rtl: true,
            textDirection: 'rtl', 
            labels: {
              font: { 
                size: 18,
                family: fontHeader
              } 
            }
          },
          tooltip: {
            rtl: true,
            titleFont: {
              size: 17,
              family: fontBody
            },
            bodyFont: {
              size: 16,
              family: fontHeader
            },
            footerFont: {
              size: 16,
              family: fontBody
            }
          }
        }
      },
    });
  </script>
{% endblock %}
