{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/users_nav.css') }}">
<style>
:root {
  --border-color: #4267b2;
}
.bio {
  border: 0.2rem solid var(--border-color);
  padding: 12px 10px;
  margin: 10px 0;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #000;
}

.second-section article {
  text-align: center;
}

.second-section article h3 {
  font-family: var(--font-header);
}

.second-section article img, .second-section article .xp-text {
  
}

</style>
{% endblock %}

{% block content %}

<section class="container">
  
  
  <div style="display: grid; grid-template-columns: 8rem 1fr; gap:10px;">
    
    
    <img src="{{ url_for('static', filename='icons/user-circle.svg') }}" alt="user icon" style="width: 8rem; ">
    
    
    <div style="display: flex; justify-content: space-between; align-items: center;">
      
      <!-- RIGHT -->
      <div style="height: 70%;">
        <div style="display: flex; gap: 30px;">
          <h1 class="font-header">{{ user.name }}</h1>
          <p style="color: {{ 'dodgerblue' if user.gender == 'ذكر' else 'hotpink' }}; font-weight: bold; align-content: center;">
            {{ user.gender }}
            {% if user.gender == 'ذكر' %}
            <img src="{{ url_for('static', filename='icons/gender-male.svg') }}">
            {% else %}
            <img src="{{ url_for('static', filename='icons/gender-female.svg') }}">
            {% endif %}
          </p>
        </div>
        
        <div style="display: flex; gap: 5px; align-items: center">
          <div style="border: 0.2rem dotted var(--border-color); padding: 2px; border-radius: 5px">{{ user.city }} <img src="{{ url_for('static', filename='icons/city.svg') }}"></div>
          <div style="border: 0.2rem dotted var(--border-color); padding: 2px; border-radius: 5px;">{{ user.street }} <img src="{{ url_for('static', filename='icons/buildings.svg') }}"></div>
        </div>
      </div>
      
      <!-- LEFT -->
      <div style="display: flex; flex-direction: column; justify-content: space-between; height: 70%;">
        
        <a href="/friends" style="text-decoration: none;" >
          {{ user.friends }} صديق
          <img src="{{ url_for('static', filename='icons/users.svg') }}">
        </a>
        
        <!-- SOCIAL LINKS -->
        <div style="align-content: center; ">
          <a href="https://wa.me/2{{ user.whatsapp_phone }}" target="_blank"><img src="{{ url_for('static', filename='icons/whatsapp-logo.svg') }}" style="width: 3rem;"></a>
          <a href="{{ user.facebook_link }}" target="_blank" style="padding: 0 6px;"><img src="{{ url_for('static', filename='icons/facebook-logo.svg') }}"  style="width: 3rem;"></a>
        </div>
  
      </div>
      
      
    </div>
    
    
  </div>
  
  
  <p class="bio font-header">{{ user.bio }}</p>
  
</section>
<h2 style="text-align: center; padding: 10px 0" class="font-header">الإحصائيات</h2>
<section class="container grid second-section">
  <article>
    <header>اخر فاتورة</header>
    <img src="{{ url_for('static', filename='icons/money.svg') }}">
    
    <footer><strong><u>{{ user.last_bill_cost }}</u></strong> ج.م</footer>
  </article>
  <article>
    <header>النقاط</header>
    <p class="xp-text">XP</p>
    
    <footer><strong><u>{{ user.xp }}</u></strong> نقطة</footer>
  </article>
  <article>
    <header>الترتيب</header>
    <img src="{{ url_for('static', filename='icons/ranking.svg') }}">
    
    <footer><strong><u>{{ user.rank }}</u></strong> علي مصر!</footer>
  </article>
  <article>
    <header>ايام نشاط</header>
    <img src="{{ url_for('static', filename='icons/fire(1).svg') }}">
    
    <footer><strong><u>{{ user.streak }}</u></strong> ايام متواصلة</footer>
  </article>
</section>

{% endblock %}
