{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/users_nav.css') }}">

<style>
  @media only screen and (max-width: 675px) {
    body > footer {
      display: none;
    }
  }
</style>

{% endblock %}

{% block content %}

<!-- 
We can update:

1. bio
2. whatsapp phone number 
3. facebook page link

Then

Logout Button

Delete Account Button (with confirmation modal)

-->

<dialog id="dialog">
  <article>
    <p><strong>هل انت متأكد من انك تريد حذف الحساب؟ لن تتمكن من استعادة الحساب مجدداً</strong></p>
    <footer>
      <button onclick="setAttr('#dialog', 'open', 'false')">رجوع</button>
      <button hx-post="/api/user/{{ user['id'] }}/delete" class="pico-background-red-600" style="border-color: currentColor;">تأكيد الحذف</button>
    </footer>
  </article>
</dialog>

<section class="container">
  <form hx-post="/api/user/{{ user['id'] }}/update-settings" enctype="multipart/form-data" hx-vals='js:{profileSpan: document.getElementById("mySpan1").textContent, coverSpan: document.getElementById("mySpan2").textContent }'>
    <fieldset>
      
      <label for="profile-photo" style="position: relative;">
        صورة الملف الشخصي
        <input type="file" dir="ltr" id="profile-photo" name="profile-photo" accept="image/*" value="{{ user['profile_photo'] }}" style="color: white;" />
        <span id="mySpan1" class="pico-color-green-500" style="font-weight: bold; position: absolute; top: 50%; transform: translateY(-50deg); right: 0  ; z-index: 33">{{ user['profile_photo'].split('/')[1] }}</span>
      </label>
      
      <button class="pico-background-red-600" style="border: 0; display: block; margin: 0 auto 10px auto;" hx-post="/api/user/{{ session['user_id'] }}/remove-profile-photo">حذف صورة الملف</button>
      
      <label for="cover-photo" style="position: relative;">
        صورة الغلاف
        <input type="file" dir="ltr" id="cover-photo" name="cover-photo" accept="image/*" value="{{ user['cover_photo'] }}" style="color: white;">
        <span id="mySpan2" class="pico-color-green-500" style="font-weight: bold; position: absolute; top: 50%; transform: translateY(-50deg); right: 0  ; z-index: 33">{{ user['cover_photo'].split('/')[1] }}</span>
      </label>
      
      <button class="pico-background-red-600" style="border: 0; display: block; margin: 0 auto 10px auto;" hx-post="/api/user/{{ session['user_id'] }}/remove-cover-photo">حذف صورة الغلاف</button>
      
      <label for="bio">
        نبذه عنك
        <textarea id="bio" name="bio" placeholder="مثال…السلام عليكم انا البشمهندس احمد اعمل في مصنع لتصنيع السيارات في ..." autofocus>{{ user['bio'] }}</textarea>
      </label>
      
      <label for="whatsapp-number">
        رقم هاتف الواتساب
        <input type="tel" id="whatsapp-number" name="whatsapp-number" value="{{ user['whatsapp_number'] }}" dir="ltr" placeholder="01xxxxxxxxx">
      </label>
      
      <label for="facebook-link">
        رابط الفيسبوك
        <input type="url" id="facebook-link" name="facebook-link" value="{{ user['facebook_link'] }}" dir="ltr" placeholder="https://www.facebook.com/xxx">
      </label>
      
      <label for="profile-id">
        كود الملف الشخصي
        <input type="text" id="profile-id" value="{{ user['profile_id'] }}" dir="ltr" disabled>
      </label>
      
    </fieldset>
    <input type="submit" value="حفظ">
  </form>
</section>

<section class="container">

  <button class="secondary" hx-get="/api/logout">تسجيل الخروج <img src="{{ url_for('static', filename='icons/door-open.svg') }}"></button>
  
</section>

<section class="container">
  <button class="pico-background-red-600" style="border-color: currentColor;" onclick="setAttr('#dialog', 'open', 'true')">حذف الحساب <img src="{{ url_for('static', filename='icons/warning.svg') }}"></button>
</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script>
const coverPhotoInput = document.getElementById('cover-photo');
const profilePhotoInput = document.getElementById('profile-photo');
const span1 = document.getElementById('mySpan1');
const span2 = document.getElementById('mySpan2');

profilePhotoInput.addEventListener('change', () => {
  let val = profilePhotoInput.value;
  val = val.split('\\')
  val = val[val.length - 1]
  
  span1.textContent = val
})

coverPhotoInput.addEventListener('change', () => {
  let val = profilePhotoInput.value;
  val = val.split('\\')
  val = val[val.length - 1]
  
  span2.textContent = val
})

</script>
{% endblock %}
