{% extends 'base.html' %} 

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/users_nav.css') }}">

<style>
  @media only screen and (max-width: 675px) {
    body > footer {
      display: none;
    }
  }
</style>

{% endblock %}

{% block content %}

<section class="container">
  <h1 class="font-header" style="text-align: center;">ابحث عن صديق</h1>
  
  <form>
    <fieldset role="group" dir="ltr">
      <input name="profile-id" type="text" placeholder="Friend profile code" id="my-input" value="" />
      <a href="#" role="button" id="search">Search</a>
    </fieldset>
  </form>
</section>

{% endblock %}

{% block script %}

<script>
const myInput = document.getElementById('my-input');  
const search = document.getElementById('search')

function setSearch() {
  search.href = myInput.value ? `/profile/${myInput.value}` : '/social#';
}

setSearch()

myInput.addEventListener('keyup', () => {
  setSearch()
})

</script>
{% endblock %}
