{% macro user_nav(user_streak, user_xp) %}
<nav id="nav">
  <ul>
    <li data-tooltip="الملف الشخصي" data-placement="left">
      <a href="/profile" class="rounded"><img src="{{ url_for('static', filename='icons/user(1).svg') }}" id="profile-icon" alt="user icon"></a>
    </li>
    <li class="font-header" style="font-weight: 600">
      <a href="/">منصة نقطة</a>
    </li>
  </ul>

  <ul class='right'>
    <li data-tooltip="لوحة التحكم" data-placement="bottom">
      <a href="/dashboard" class="rounded"><img src="{{ url_for('static', filename='icons/house.svg') }}" id="dashboard-icon" alt="house icon"></a>
    </li>
    <li data-tooltip="الأصدقاء" data-placement="bottom">
      <a href="/friends" class="rounded"><img src="{{ url_for('static', filename='icons/users.svg') }}" id="friends-icon" alt="users icon"></a>
    </li>
    <li data-tooltip="لائحة الصدارة" data-placement="bottom">
      <a href="/leaderboard" class="rounded"><img src="{{ url_for('static', filename='icons/ranking.svg') }}" id="leaderboard-icon" alt="ranking icon"></a>
    </li>
    <li data-tooltip="الإعدادات" data-placement="bottom"><a href="/settings" class="rounded"><img src="{{ url_for('static', filename='icons/gear.svg') }}" alt="gear icon" id="gear-icon"></a></li>
    
    <div>
      <li>
        <span class="xp-text">XP</span>
        <br />
        <span class="num" id="xp">{{ user_xp or 0 }}</span>
      </li>
      <li>
        <img style="width: 36px;" src="{{ url_for('static', filename='icons/fire(1).svg') }}" id="streak-icon" alt="fire icon">
        <br />
        <span class="num" id="streak">{{ user_streak or 0 }}</span>
      </li>
    </div>
  </ul>
</nav>
{% endmacro %}
